<h1>Welcome!</h2>

<% if current_user.has_fitbit_authorization? %>
  <h3>Here are the current stats:</h3>
  <ul>
    <%= render @stats %>
  </ul>
<% else %>
  <%= link_to 'Authenticate with fitbit', '/auth/fitbit' %>
<% end %>
